.dot-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    gap: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.red {
    background: darkorange;
}

.yellow {
    background: yellow;
}

.green {
    background: lightgreen;
}

.white {
    background: rgba(255, 255, 255, 0.5);
}


@media (max-width: 800px) {
    .dot-container {
        display: none;
    }
}