.add-audio {
    position: fixed;
    left: 25px;
    bottom: 25px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}

.add-audio img {
    width: 20px;
    height: 20px;
}

.audioInput {
    display: none;
}

@media (max-width: 800px) {
    .add-audio {
        z-index: 2;
        background: rgba(255, 255, 255, 0.7);
        bottom: auto;
        top: 25px;
    }
}