.album-container {
    display: grid;
    grid-template-columns: 48% 48%;
    margin-top: 1rem;
    gap: 4%;
}

.album {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 13%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.album-track-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: 8px;
}

.album-details,
.album-track-count,
.album-name {
    display: grid;
    justify-content: center;
}

.album-name {
    font-weight: bold;
    text-align: center;
}

.album-track-author {
    color: rgba(0, 0, 0, 0.6);
}

.album-track-count {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}