.featured-artist-container {
    height: 20%;
}

.artists-container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    height: 55%;
    position: relative;
    top: 13px;
}

.artist {
    background: #fff;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    cursor: pointer;
}