.featured-track-container {
    height: 30%;
}

.music-details-container {
    height: 100%;
    display: grid;
    grid-template-columns: 73% auto;
    align-items: center;
    gap: 2%;
}

.music-progress-bar-container {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    gap: 2px;
    justify-content: start;
}

.music-progress-bar-container .bar {
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
    height: 50%;
    width: 5px;
}

.music-progress-bar-container .bar .inner-bar {
    border-radius: 4px 4px 0 0;
    background: dodgerblue;
    position: relative;
    width: 100%;
}



.current-music {
    width: 100%;
    background: #fff;
    border-radius: 100px;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.current-music-details {
    font-size: 12px;
}

.current-music-text {
    color: rgba(0, 0, 0, 0.6);
}

.thumbnail.mini-thumbnail,
.thumbnail-shadow.mini-thumbnail {
    width: 2rem;
    height: 2rem;
}

.thumbnail-shadow.mini-thumbnail {
    filter: blur(8px);
}