.mini-music-player {
    width: 100%;
    margin-top: 1.6rem;
    display: grid;
    justify-content: center;
}




.music-details {
    display: grid;
    justify-content: center;
    align-items: center;
}

.music-details .music-name {
    font-weight: bold;
}

.music-details .music-author {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.progress-container {
    position: relative;
    top: 5px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 80px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.duration {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    display: grid;
    justify-content: center;
    align-items: center;
}

.current-progress {
    width: 10%;
    height: 100%;
    background: dodgerblue;
    border-radius: 2px;
}

.music-controls {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    top: 10px;
}

.music-control {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.mini-music-player .thumbnail-container.active {
    animation: infiniteRotate 5s linear infinite;
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 
.volume-container {
    width: 40px;
    height: 180px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto 20px;
    gap: 10px;
    position: fixed;
    left: -20%;
    top: 65%;
    transform: translate(-50%, 0);
    padding: 12px 0;
}

.volume-container .volume-bar {
    border-radius: 50px;
    height: 100%;
    background: #fff;
    overflow: hidden;
    display: grid;
    align-items: end;
}

.volume-bar .inner-bar {
    background: dodgerblue;
} */



@media (max-width: 800px) {
    .mini-music-player {
        margin: 0;
    }
}