.right-side {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
    padding: 2rem;
    display: grid;
    grid-template-rows: 30% 20% auto;
}

@media (max-width: 800px) {
    .right-side {
        grid-template-rows: none;
        /* display: none; */
    }
}