.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

.red {
    background: darkorange;
}

.yellow {
    background: yellow;
}

.green {
    background: lightgreen;
}