.tracks-container {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    position: relative;
    top: 13px;
}

.track-container {
    width: 100%;
    display: grid;
    grid-template-columns: 4rem auto auto auto;
    align-items: center;
    height: 3rem;
    background: #fff;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}