.tracks-container {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 35vh;
    padding-right: 0.2rem;
}

::-webkit-scrollbar {
    width: 0.3rem;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #8888886f;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5555558e;
}

.track-container {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 40% 15% 8%;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    background: #fff;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .tracks-container {
        max-height: 40vh;
    }
}